/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif; /* Oder deine bevorzugte Schriftart */
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

/* Weitere häufige Resets */
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styling für den Header */
header {
  background-color: #0f3754;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: white;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 4px;
}

/* Styling für den Hauptinhalt */
main {
  background-color: black;
}

/* Styling für den Footer */
footer {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assets/images/footer1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer nav ul li a {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 4px;
}

/* Styling für den Footer-Button */
.footer-button {
  padding: 12px 24px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #cccccc; /* Passend zum Header */
  color: black;
  border: none;
  cursor: pointer;
}
